<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>TestServGCM</display-name>

	<listener>
		<listener-class>net.homelinux.mansierra.listeners.ContextListener</listener-class>
	</listener>

	<servlet>
		<description>Registra la API-KEY Del smartphone</description>
		<servlet-name>Register</servlet-name>
		<servlet-class>net.homelinux.mansierra.serv.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Elimina la API-KEY de un smartphone de la base de datos</description>
		<servlet-name>UnRegister</servlet-name>
		<servlet-class>net.homelinux.mansierra.serv.UnRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnRegister</servlet-name>
		<url-pattern>/unregister</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Envia un mensaje al smartphone</description>
		<servlet-name>SendMsgToDevices</servlet-name>
		<servlet-class>net.homelinux.mansierra.serv.SendMsgToDevices</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMsgToDevices</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>

</web-app>